
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

nav {
 
    height: 35px;
    display: flex;
    background-color: white;
}
.logo-navbar {
    margin-left: 180px;
    margin-top: 8px;
    width: 2%;
    text-align: center;
}
ul a {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: orange
}

#right-nav {
    margin-top: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 400px;
    padding-right: 50px;
}
.three-boxes {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.introkarma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/first-background.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 700px
}
.introkarma h1 {
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-bottom: 1px;
}
.introkarma p {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 24px;
}

button {
    width: 150px;
    height: 49px;
    margin-top: 40px;
    background-color: #f25a2a;
    border-radius: 5px;
    border-color: #f2592a;
    border-width: inherit;
    color: #fdfdfd;
}
.enalkarma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 500px;
   
}
.all-boost-go {
    display: flex;
    justify-content: space-evenly;
   
}
.every-needs-icons{
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
}
.enalkarma h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-bottom: 50px;
}
.enalkarma p {
    text-align: center;
}
.last-box {
    display: flex;
  
}
.before-footer-left{
    width:40%;
}
.before-footer-left img {
    height: 423px;

}
.before-footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 423px;
    background-color: rgb(236, 199, 169);
    text-align: center;
}
.before-footer-right h2 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 1px;
    font-style: italic;
}
footer{
    height: 50px;
    margin: 90px;
}
.inside-footer{
    display: flex;
    flex-direction: column;
    align-items: center;}
.footer-images{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 768px){
    .last-box {
        display: none;
    }
    .all-boost-go {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


